<%- include('shared/header', {title: title, styleLink: "users.css"}); %>
<%- include('shared/navigation', {menu: menu}); %>

    <!-- Home -->
    <section class="home py-5 d-flex align-items-center" id="header">
        <div class="container text-light py-5"  data-aos="fade-right"> 
            <h1 class="headline"><span class="home_text">User</span> detail</h1>
            <div class="d-flex align-items-center" style="flex-direction: column">
                <table>
                    <tr>
                      <th>id</th>
                      <th>firstname</th>
                      <th>lastname</th>
                      <th>email</th>
                      <th>createdAt</th>
                      <th>updatedAt</th>
                    </tr>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.firstname %></td>
                        <td><%= user.lastname %></td>
                        <td><%= user.email %></td>
                        <td><%= user.createdAt %></td>
                        <td><%= user.updatedAt %></td>
                    </tr>
                  </table>
            </div>
        </div> <!-- end of container -->
    </section> <!-- end of home -->

<%- include('shared/footer'); %>